<div class="section-pad facts-bg">
    <div class="section-inner">
        <h2 ew-for="header"></h2>
        <div class="facts-grid">
            <div class="fact-box" ew-list="boxes">
                <div class="number" ew-for="number"></div>
                <div class="text" ew-for="text"></div>
            </div>
        </div>
    </div>
</div>
