<div class="hero-page">
    <div class="hero-page-inner">
        <h1 ew-for="header"></h1>
        <p ew-for="description"></p>
        <div class="media-placeholder" ew-if-key="media">
            <img ew-for-src="media" />
        </div>
    </div>
</div>
