<div class="section-pad">
    <div class="section-inner intro-center">
        <span class="tag" ew-for="tag"></span>
        <h2 ew-for="header"></h2>
        <p ew-for="description"></p>
        <a class="intro-link" ew-for-href="link">
            <span ew-for-label="link"></span>
        </a>
    </div>
</div>
