<div class="section-pad teams-bg">
    <div class="section-inner">
        <div class="teams-head">
            <h2 ew-for="header"></h2>
            <p ew-for="description"></p>
        </div>
        <div class="teams-grid">
            <div class="team-card" ew-list="teamMembers">
                <div class="photo">
                    <img ew-for-src="$" />
                </div>
                <div class="info">
                    <h4 ew-for="$label"></h4>
                    <span ew-for="$introduction"></span>
                </div>
            </div>
        </div>
    </div>
</div>
