<div class="hero-home">
    <div class="hero-inner">
        <div class="hero-text">
            <h1 ew-for="header"></h1>
            <p ew-for="description"></p>
            <a class="btn" ew-for-href="link">
                <span ew-for-label="link"></span>
            </a>
        </div>
        <div class="hero-media">
            <img ew-for-src="media" />
        </div>
    </div>
</div>
