<footer>
    <div class="footer-inner">
        <div class="footer-top">
            <div class="footer-brand">
                <a class="logo" href="/">
                    <img ew-for-src="logotype" />
                </a>
                <h3 ew-for="Section/header"></h3>
                <p ew-for="Section/description"></p>
            </div>
            <div class="footer-cols" ew-list="linkBlock">
                <div class="f-col">
                    <h4 ew-for="$label"></h4>
                    <ew-list for-key="links">
                        <a ew-for-href="$"><span ew-for="$label"></span></a>
                    </ew-list>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; @DateTime.Now.Year - @SiteContext.Office.Label
        </div>
    </div>
</footer>
